/*==================================== Desktop ====================================*/
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header {
    --background: rgba(0, 0, 0, 0.504);

    position: fixed;
    background: var(--background);
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    transition: 0.5s;
}

section:not(#Home) {
    padding-top: 80px ;
    padding-left: 60px;
    padding-right: 60px;
    height: 100vh;
    
}

section h1 {
    font-size: 4em;
}

.section-body {
    display: flex;
    height: 60vh;
}

.nav-scrolled {
    --background: rgb(37, 37, 37);
}

/*------ Navigation ------*/

.logo {
    font-size: 2em;
    color: white;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    left: 0;
    bottom: -6px;
    position: absolute;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .button-login-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}

.navigation .button-login-popup:hover {
    background-color: white;
    color: #2e2e2e;
    letter-spacing: 1px;
}

/*------ Home ------*/
#Home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/background.png) no-repeat;
    background-size: cover ;
    background-position: bottom;
    background-attachment: fixed;
}


.sims-title {
    opacity: 0;
    font-size: 8em;
    line-height: 1;
    animation: textAppear 1s forwards;
    animation-delay: 1s;
}

.sims-welcome {
    font-size: 2em;
    animation-name: textPop;
    animation-duration: 1s;
}

.sims-text {
    font-size: 1.5em;
    color: white;
    animation: textPop 0.5s forwards;
    animation-delay: 1.6s;
    opacity: 0%;
}

.welcome {
    font-size: 1em;
    position: relative;
    width: 400px;
    color: white;
    transition: 0.2s ease;
    
}

@keyframes textPop{
    from{
      transform: translateX(20%);
      opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes textAppear {
    to{
        opacity: 100%;
    }
}


.home.active-popup {
    font-size: 0;
    width: 0;
}

/*------ Form ------*/
.wrapper {
    font-size: 0em;
    position: relative;
    width: 0;
    height: 440px;
    background: rgba(0, 0, 0, 0.301);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 0.2s ease, width 0.2s ease, transform 0.2s ease, font-size 0.2s ease;
}

.wrapper.active-popup {
    font-size: 1em;
    width: 400px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.wrapper.active {
    height: 520px;
}


.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .3s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .3s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: white;
    font-size: 2em;
    color: rgb(82, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    
}

.form-box h2 {
    font-size: 2em;
    color: white;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;
}

.remember-forgot {
    font-size: 0.9em;
    color: white;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: rgb(63, 63, 63);
    margin-right: 3px;
}

.remember-forgot a {
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration:underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
}

.login-register {
    font-size: 0.9em;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: rgb(160, 160, 160);
    text-decoration: none;
    font-weight: 600;

}

.login-register p a:hover {
    text-decoration: underline;
}

/*------ About ------*/
#About .section-body-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    padding: 20px;
}


#About .section-body-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#studying {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    object-fit: cover;
}

.section-body-text {
    flex: 1
}

.section-body-image {
    flex: 1
}

/*------ Services ------*/
#Services .section-body p{
    font-size: 1.5em;
}

.a {
    display: flex;
    flex: 1;
    padding: 10px;
    text-align: center;
    flex-direction: column;
}

.a-top {
    flex: 1; 
}

.a-bottom {
    flex: 1;
}

#student {
    flex: 1;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.b {
    display: flex;
    flex: 1;
    padding: 10px;
    flex-direction: column;
    text-align: center;
}
.b-top {
    flex: 9; 
}

.b-bottom {
    flex: 1;
}


#employer {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: -150px 0px;
}

.c {
    display: flex;
    flex: 1;
    padding: 10px;
    flex-direction: column;
    text-align: center;
}

.c-top {
    flex: 1;
}
.c-bottom {
    flex: 1;
}

#socialize {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    
}

/*====================================================== Mobile devices ======================================================*/
@media (max-width: 768px) {
    section:not(#Home) {
        padding-top: 8px ;
        padding-left: 6px;
        padding-right: 6px;
        height: auto;
        
    }

    section h1 {
        font-size: 2rem;
        padding-left: 20px;
    }

    /*------ About ------*/
    #About {
        height: 30px;
    }

    #About .section-body {
        display: block;
        font-size: 0.5rem;
    }

    /*------ Services ------*/
    #Services .section-body {
        font-size: 0.8rem;
    }

    #studying {
        height: 250px;
        width: 250px;
    }

    #Services .section-body {
        flex-direction: column;
    }

    #employer,#student,#socialize {
        width: 130px;
        height: 130px;
    }

    #employer {
        object-position: -40px 0px;
    }

    .a, .b, .c {
        flex-direction: row;
        text-align: center;
    }

    .a-top, .b-top, .c-top {
        flex: 1;
    }

    .a-bottom, .b-bottom, .c-bottom {
        flex: 1
    }

    


}